Q1. List any five functions of the pandas library with execution.

In [19]:
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David','shah'],
    'age': [25, 32, 45, 28,32],
    'salary': [50000, 60000, 75000, 40000,60000]
    }

df = pd.DataFrame(data)
print(df)

      name  age  salary
0    Alice   25   50000
1      Bob   32   60000
2  Charlie   45   75000
3    David   28   40000
4     shah   32   60000

There are many functions and methods in Pandas that can be used to manipulate data in a DataFrame. Here are some of the most common functions and methods:

    head() and tail(): These methods can be used to view the top and bottom rows of a DataFrame, respectively. They are useful for quickly inspecting the structure and contents of a DataFrame.

In [20]:
df.head(3)

      name  age  salary
0    Alice   25   50000
1      Bob   32   60000
2  Charlie   45   75000

In [21]:
df.tail(3)

      name  age  salary
2  Charlie   45   75000
3    David   28   40000
4     shah   32   60000

   describe(): This method generates descriptive statistics for each column of a DataFrame, including the count, mean, standard deviation, minimum, maximum, and quartile values. It provides a quick summary of the data in a DataFrame.

In [22]:
df.describe()

             age       salary
count   5.000000      5.00000
mean   32.400000  57000.00000
std     7.635444  13038.40481
min    25.000000  40000.00000
25%    28.000000  50000.00000
50%    32.000000  60000.00000
75%    32.000000  60000.00000
max    45.000000  75000.00000

 info(): This method prints a concise summary of a DataFrame, including the number of non-null values and the data type of each column. It is useful for checking the completeness and correctness of a DataFrame.

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
name      5 non-null object
age       5 non-null int64
salary    5 non-null int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes

  loc[] and iloc[]: These methods are used to index and select specific rows and columns of a DataFrame. loc[] is used for label-based indexing, while iloc[] is used for integer-based indexing.

In [24]:
df.loc[2:4,'age']

2    45
3    28
4    32
Name: age, dtype: int64

In [25]:
df.iloc[2:4,1:]

   age  salary
2   45   75000
3   28   40000

  groupby(): This method is used to group rows of a DataFrame based on one or more columns, and to perform aggregate functions on each group. It is useful for summarizing and analyzing data by different categories.

In [42]:
for i,j in df.groupby(by='age'):
    print('group by age=',i)
    print(j,'\n')

group by age= 25
    name  age  salary
0  Alice   25   50000

group by age= 28
    name  age  salary
3  David   28   40000

group by age= 32
   name  age  salary
1   Bob   32   60000
4  shah   32   60000

group by age= 45
      name  age  salary
2  Charlie   45   75000

  apply(): This method applies a function to each element or column of a DataFrame. It is useful for performing custom data transformations and cleaning operations.

In [43]:
def calculate_new_salary(s):
    return s['salary'] + s['age']*2

In [44]:
df['new_salary'] = df[['age','salary']].apply(calculate_new_salary,axis=1)
print(df)

      name  age  salary  new_salary
0    Alice   25   50000       50050
1      Bob   32   60000       60064
2  Charlie   45   75000       75090
3    David   28   40000       40056
4     shah   32   60000       60064

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [98]:
import pandas as pd

data = {
    'index':[1,2,4,6,8],
    'A': ['Alice', 'Bob', 'Charlie', 'David','shah'],
    'B': [25, 32, 45, 28,32],
    'C': [50000, 60000, 75000, 40000,60000]
    }

df = pd.DataFrame(data)
df.set_index('index',inplace=True)
print(df)

             A   B      C
index
1        Alice  25  50000
2          Bob  32  60000
4      Charlie  45  75000
6        David  28  40000
8         shah  32  60000

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [106]:
import pandas as pd
df=pd.DataFrame({'Values':[10, 20, 30, 40, 50]})
print('sum of value of first three:',df[:3].values.sum())

sum of value of first three: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [162]:
import pandas as pd
df=pd.DataFrame({'Text':['we are good friend',
                        'Good morning',
                        'Good night',
                        'happy Birthday',
                        'Hello!!!' ]})
print(df)

df['Word_Count']=list( map( lambda x: len( str(x).split(' ') ) , df.Text ))
df

                 Text
0  we are good friend
1        Good morning
2          Good night
3      happy Birthday
4            Hello!!!

                 Text  Word_Count
0  we are good friend           4
1        Good morning           2
2          Good night           2
3      happy Birthday           2
4            Hello!!!           1

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size: returns the total number of elements in the DataFrame, which is equal to the number of rows times the number of columns. This attribute returns an integer value.

In [164]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

print(df.size)  # Output: 6

6

DataFrame.shape: returns a tuple containing the number of rows and columns in the DataFrame. This attribute returns a tuple of integers.

In [165]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

print(df.shape)  # Output: (3, 2)

(3, 2)

Q6. Which function of pandas do we use to read an excel file?

pd.read_excel()

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [174]:
email={'Email':['usernae@domain.com',
                'shahi@domain.com',
                'kumar@domain.com',
                'singh.abc@domain.com',
                'khan@domain.com',
                'siddiqui.88@domain.com']}
df=pd.DataFrame(email)
df['username']=list( map( lambda x:str(x).split('@')[0],df.Email ) )
df

                    Email     username
0      usernae@domain.com      usernae
1        shahi@domain.com        shahi
2        kumar@domain.com        kumar
3    singh.abc@domain.com    singh.abc
4         khan@domain.com         khan
5  siddiqui.88@domain.com  siddiqui.88

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

Your function should select the following rows: A B C

1 8 2 7

4 9 1 2

The function should return a new DataFrame that contains only the selected rows.

In [184]:
data={'A':[3,8,6,2,9],
      'B':[5,2,9,3,1],
      'C':[1,7,4,5,2]}

df=pd.DataFrame(data)
print(df)
df[(df['A']>5) & (df['B']<10)]

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [190]:
Values={'Values':range(1,100)}
df=pd.DataFrame(Values)
print('mean:',df.Values.mean())
print('median:',df.Values.std())
print('standard deviation:',df.Values.mean())

mean: 50.0
median: 28.722813232690143
standard deviation: 50.0

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [276]:
import pandas as pd
# create a sample DataFrame with 'Sales' and 'Date' columns
data = {'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
        'Date': pd.date_range('2022-01-01', periods=10)}
df = pd.DataFrame(data)
df

   Sales       Date
0     10 2022-01-01
1     20 2022-01-02
2     30 2022-01-03
3     40 2022-01-04
4     50 2022-01-05
5     60 2022-01-06
6     70 2022-01-07
7     80 2022-01-08
8     90 2022-01-09
9    100 2022-01-10

In [322]:
SMA=[]
a=0
for i in range(len(df)):
    if int(i/7)!=0:
        a=a+1
    SMA.append(df.Sales[a:i+1].mean())
    
df['MovingAverage'] = SMA
df

   Sales       Date  MovingAverage
0     10 2022-01-01           10.0
1     20 2022-01-02           15.0
2     30 2022-01-03           20.0
3     40 2022-01-04           25.0
4     50 2022-01-05           30.0
5     60 2022-01-06           35.0
6     70 2022-01-07           40.0
7     80 2022-01-08           50.0
8     90 2022-01-09           60.0
9    100 2022-01-10           70.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

Date

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

Your function should create the following DataFrame:


Date Weekday

0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

The function should return the modified DataFrame.

In [328]:
import pandas as pd

def add_weekday_column(df):
    df['Weekday'] = pd.to_datetime(df['Date']).dt.weekday_name
    return df

In [329]:
import pandas as pd
# create a sample DataFrame with 'Sales' and 'Date' columns
data = {'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
        'Date': pd.date_range('2022-01-01', periods=10)}
df = pd.DataFrame(data)
add_weekday_column(df)
df

   Sales       Date    Weekday
0     10 2022-01-01   Saturday
1     20 2022-01-02     Sunday
2     30 2022-01-03     Monday
3     40 2022-01-04    Tuesday
4     50 2022-01-05  Wednesday
5     60 2022-01-06   Thursday
6     70 2022-01-07     Friday
7     80 2022-01-08   Saturday
8     90 2022-01-09     Sunday
9    100 2022-01-10     Monday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [336]:
data = {'Date': pd.date_range('2022-01-01' , '2024-01-31', periods=100)}
df=pd.DataFrame(data)
df.head(5)

                           Date
0 2022-01-01 00:00:00.000000000
1 2022-01-08 16:14:32.727272704
2 2022-01-16 08:29:05.454545408
3 2022-01-24 00:43:38.181818112
4 2022-01-31 16:58:10.909090816

In [ ]:
from datetime import datetime

# create two date strings
date_str1 = '2022-03-01'
date_str2 = '2022-03-15'

# convert the date strings to date objects
date1 = datetime.strptime(date_str1, '%Y-%m-%d').date()
date2 = datetime.strptime(date_str2, '%Y-%m-%d').date()

# compare the two dates
if date1 < date2:
    print('date_str1 is before date_str2')
elif date1 == date2:
    print('date_str1 is the same as date_str2')
else:
    print('date_str1 is after date_str2')

In [ ]:
import pandas as pd

def select_rows_by_date_range(df, start_date, end_date):
    # Convert date strings to Pandas Timestamps
    start_timestamp = pd.Timestamp(start_date)
    end_timestamp = pd.Timestamp(end_date)
    
    # Select rows where the date is between start_date and end_date
    mask = df['Date'].between(start_timestamp, end_timestamp)
    selected_rows = df.loc[mask]
    
    return selected_rows

In [347]:
start_date='2023-01-01'
end_date='2023-01-31'
start_timestamp = pd.Timestamp(start_date)
end_timestamp = pd.Timestamp(end_date)
type(start_timestamp)

pandas._libs.tslibs.timestamps.Timestamp

In [346]:
#df[ pd.Timestamp(df['Date'])>start_timestamp & pd.Timestamp(df['Date'])<end_timestamp]
mask=df['Date'].between(start_timestamp, end_timestamp)
print(df.loc[mask])

                            Date
48 2023-01-04 11:38:10.909090816
49 2023-01-12 03:52:43.636363520
50 2023-01-19 20:07:16.363636480
51 2023-01-27 12:21:49.090909184

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

That's correct! pandas is a Python library that provides high-performance, easy-to-use data structures, as well as data analysis tools for manipulating numerical tables and time-series data. By importing pandas, you can easily create, manipulate, and analyze data in a variety of formats, including CSV, Excel, SQL databases, and more.